* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(248, 248, 248);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.instagram-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    width: 90%;
}

.line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #8e8e8e;
}

.line p {
    margin: 0 10% 0 10%;
}

.line hr {
    width: 50%;
}

.instagram-phone {
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teste {
    margin-bottom: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*IMAGES*/

.instagram-phone img {
    width: 100%;
}

.alternative-login img {
    width: 8%;
    padding-right: 2%;
}

.download-links img {
    width: 40%;
}

.instagram-logo {
    margin-top: 2rem;
    margin-bottom: 1rem;
}


/*IMAGES*/

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 35%;
}

.footer {
    color: #8e8e8e;
    display: flex;
    bottom: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.footer-box {
    width: 100%;
    align-items: center;
}

.footer-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.foot {
    font-size: 12px;
    padding: 10px;
}

.group {
    width: 100%;
    margin: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    padding: 1.3rem;
}

.fb-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #385185;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.alternative-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alternative-login a {
    font-size: 12px;
    color: #385185;
}

.download-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.download-links div p {
    margin: 1.3rem;
    margin-top: 1rem;
}

span {
    color: #0095f6;
    font-weight: bold;
}

.login-form form {
    width: 100%;
}

.login-form form input {
    width: 100%;
    font-size: 12px;
    padding: 0.8rem;
    background-color: rgb(248, 248, 248);
    border: 1px solid lightgray;
    border-radius: 3px;
}

.input {
    margin: 0.5rem;
}

#dif-input {
    margin-top: 1rem;
}

#submit-button {
    padding: 0.5rem;
    font-size: 14px;
    background-color: lightskyblue;
    border-radius: 5px;
    opacity: 0.7;
    color: white;
    font-weight: bolder;
}